@import url('https://fonts.googleapis.com/css?family=Anonymous+Pro');
@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  font-family: "Comic Sans MS";
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}


/* Cursor effect */
.cursor {
    display: inline-block;
    border-right: 3px solid rgba(255, 255, 255, 0.75);
    white-space: nowrap;
    overflow: hidden;
}

/* Typewriter Animation */
.typewriter-animation {
    animation: typewriter 3s steps(20) 1s 1 normal both,
               blinkingCursor 600ms steps(50) infinite normal;
}

@keyframes typewriter {
  from { width: 0; }
  to { width: 100%; }
}

@keyframes blinkingCursor {
  from { border-right-color: rgba(255,255,255,.75); }
  to { border-right-color: transparent; }
}


  .loader {
    width: 20px;
    height: 20px;
    border: 3px solid transparent;
    border-top: 3px solid white;
    border-radius: 50%;
    animation: spin 0.7s linear infinite;
  }
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }


